*{
    
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    
}


body{
    color: #ededed;
    background-color: rgb(20, 0, 147);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;

}

.navbar{
    position: absolute;
    top:5px;
    right:20px;
}

.navbar a{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    border: 1px solid white;
    padding: 10px;
    width: 170px;
    text-align: center;    
}

.navbar a:hover{
    color: black;
    background-color: white;
}

section{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: fit-content;
    background-color: rgb(20, 0, 147);
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-left: 70px;
    padding-right: 70px;
    align-items: center;
    margin-top: 50px;
}

.storyline-content{
    max-width: 600px;
}

.storyline-content h3{
    font-size: 32px;
    font-weight: 700;
}

h1{
    font-size: 56px;
    font-weight: 700;
    display: block;
    text-align: center;
}

.storyline-content p{
    font-size: 20px;

}

.storyline-chars a img{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    background-color: gray;
    margin: 30px 15px 30px 0;
    transition: .5s ease;

}

.storyline-chars a img:hover{
    background-image: url(img/theboys.webp);
    background-position: 50%;
    box-shadow: 0 0 20px #0ef;
}

.btn-box:hover{
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan,0 0 100px cyan, 0 0 200px cyan;
}

.storyline-content h3 span{
    color: #0ef;
}
.storyline-content h3:nth-of-type(2){
    margin-bottom: 30px;
}

.gangs-images{
    margin-left: 50px;
    background-image: url(gang/gang.png); 
    width: 500px; 
    height: 210px;
    transition: .6s;
}

.gangs-images:hover{
    background-image: url(seven/gang.png);
}


#boys,#seven{
    display: block;
}


#boys img{
    margin-right: 20px;
    width: 400px;
    height: 400px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: antiquewhite;
    transition: .6s;

}
#boys div:hover img{
    background-image: url(img/theboys.webp);
    background-position: 20%;
    height: 500px;
    width: 500px;
    
}
#boys div:hover p{
    font-size: 20px;
}

#boys p{
    margin-left: 20px;
}

#billy-butcher, #hughie-campbell,#mothers-milk,#frenchie,#kimiko,.detail-content {
    display: flex;
    align-items: center;
}

td{
    padding-left: 10px;
}

tr{
    border-bottom: 1px solid white;
}
table{
    border-collapse: collapse;
    height: 400px;
    margin-top: 50px;
    position: relative;
}

.font-warning a{
    font-weight: bold; 
    color: yellow; 
    font-style: italic;
    text-decoration: none;
}

.font-warning:hover{
    text-decoration-line: underline;
}

.seven-members div{
    display: inline-block;
}

.seven-members img{
    height: 200px;
    transition:.6s;
}
.seven-members img:hover{
    height: 250px;
}

#homelander-image{
    height: 300px;
}
#homelander-image:hover{
    height: 375px;
}









  





